<!DOCTYPE html>
<html>
<head>
  <title>MediClinic</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="main_container">
        <%= render :partial => 'layouts/banner' %>
      
      <div class="container">
        <div id="menu">
          <!--%= render :partial => 'layouts/menu' %-->
        </div>
        <div id="body_struture">
          <% if flash[:alert] %>
           <p class="flash-error"><%= flash[:alert] %></p>
          <% end %>
          <% if flash[:notice] %>
          <p class="flash-notice"><%= flash[:notice] %></p>
          <% end %>
          <%= yield %>
        </div>
      </div>
    <%= render 'layouts/footer' %>
    </div>
  </body>
</html>
